NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
API_BASE_URL=http://localhost:8080
DATABASE_URL=
SUPABASE_SECRET_KEY=
WHATSAPP_API_URL=
WHATSAPP_API_TOKEN=
