node_modules/
.next/
.next-build/
artifacts/
*.tsbuildinfo
dist/
coverage/
bin/
obj/
.DS_Store
.env
.env.local
.env.development.local
.env.production.local
apps/frontend-web/.env.local
apps/backend-api/appsettings.Development.local.json
apps/backend-api/.local_auth.json
